.contact-section {
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 100%;
  background-color: rgba(23, 30, 36, 0.9);
  justify-content: space-around;
  overflow: hidden;
}

.contact-section h2 {
  position: relative;
  color: white;
  font-size: 36px;
  border-radius: 5px;
  top: 15px;
  left: 70px;
  z-index: 2;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  width: 500px;
  height: 500px;
  background-color: #717174;
  padding: 20px 40px;
  border-radius: 10px;
}

.contact-section form label {
  display: flex;
  flex-direction: column;
}

.contact-section form input, .contact-section form select, .contact-section form textarea {
  border-radius: 5px;
  margin-top: 5px;
}

.contact-section form button {
  align-self: center;
  width: 200px;
  border-radius: 20px;
  border-style: none;
  padding: 20px 40px;
  background-color: #cec7c7;
}
