.main-cards {
  display: flex;
  flex-direction: column;
  min-height: 1000px;
  max-height: 1000px;
  justify-content: space-around;
  position: relative;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.main-cards .cards-container {
  display: flex;
  flex-direction: row;
}

.main-cards .cards-container .fa-solid {
  z-index: 2;
  position: absolute;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
  transition: opacity 0.8s;
  top: 33rem;
}

.main-cards .cards-container .fa-solid:hover {
  transform: scale(1.2);
  color: white;
}

.main-cards .cards-container .fa-arrow-left {
  margin-left: 1rem;
  left: 15px;
}

.main-cards .cards-container .fa-arrow-right {
  margin-right: 1rem;
  right: 15px;
}

.main-cards .cards-container figure {
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 350px;
  padding: 20px;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  background: linear-gradient(rgba(180, 115, 246, 0.804), rgba(209, 149, 36, 0.781));
  box-shadow: 10px 8px 5px 10px rgba(0, 0, 0, 0.626);
  transition: transform 0.4s, background-color 2s ,height 0.8s;
  background-color: unset;
}

.main-cards .cards-container figure figcaption h3 {
  margin: 5px 0 20px 0px;
}

.main-cards .cards-container figure .wrapper .triangle {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 0;
  height: 0;
  border-left: 25rem solid transparent;
  border-bottom: 22rem solid rgba(23, 30, 36, 0.9);
  transition: transform 1s,opacity 2s;
  z-index: 2;
}

.main-cards .cards-container figure .wrapper img {
  opacity: 0;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  transition: opacity 0.8s;
  z-index: 1;
}

.main-cards .cards-container figure .wrapper .skill-card {
  top: 4rem;
  opacity: 0;
  transition: opacity 0.8s, transform 0.8s;
}

.main-cards .cards-container figure:hover {
  height: 680px;
  transition: transform 0.4s,background-color 2s , height 0.8s;
  transform: scale(1.1);
  background-color: black;
  justify-content: space-evenly;
}

.main-cards .cards-container figure:hover figcaption p {
  display: none;
}

.main-cards .cards-container figure:hover .triangle {
  transition: transform 2s,opacity 2s;
  transform: translateX(400px);
  opacity: 0;
}

.main-cards .cards-container figure:hover img, .main-cards .cards-container figure:hover .skill-card {
  transition: opacity 0.8s;
  opacity: 1;
}

.main-cards .cards-container figure:hover ~ .fa-arrow-left,
.main-cards .cards-container figure:hover ~ .fa-arrow-right {
  transition: opacity 0.8s;
  opacity: 0;
}
