.skill-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.skill-section h2 {
  text-align: center;
  font-size: 48px;
  color: white;
  margin: 10rem 0 0 0;
  flex: 1;
}

.skill-section .skill-container {
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  margin-bottom: 10rem;
}

.skill-section .skill-container .grid-item {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  background-color: #f4f4f4;
}

.skill-section .skill-container .grid-item:empty {
  background: transparent;
  cursor: default;
}

.skill-section .skill-container .grid-item:hover {
  color: orange;
  transform: scale(1.1);
}

.skill-section .skill-container .grid-item:hover i {
  color: orange;
}

.skill-section .skill-container .grid-item i {
  font-size: 40px;
  color: #333;
}
