.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 20px;
  color: white;
  text-align: center;
  background-color: rgb(3, 5, 24);
  padding: 70px;
  min-height: 12.5rem;
  strong {
    display: flex;
    z-index: 1;
    font-size: 24px;
    font-style: italic;

  }
}
