.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgb(71, 71, 77);
  padding: 20px;
  min-height: 12.5rem;
  .banner-style-grey {
    background-color: grey;
    padding: 20px;  
    border-radius: 20px;
  }
  .banner-style-white {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px; 
  }
  strong {
    display: flex;
    z-index: 1;
    font-size: 24px;
    font-style: italic;

  }
}

